body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.spaced {
    margin-top: 5px;
}

.scrollable {
    overflow: auto;
    height: 400px;
    border: 1px solid #bbb;
    border-radius: 4px;
    margin: .5em 0;
}

#output .dl-horizontal {
    margin: .5em;
}
#output .dl-horizontal dt {
    width: auto !important;
    min-width: 5em;
    padding-right: 1em;
}
#output .dl-horizontal dd {
    margin-left: 0;
}